bin
obj
*.sln
Labfiles/.env
/Labfiles/01-azure-search/Python/margies-travel/__pycache__
Labfiles/01-azure-search/Python/margies-travel/.env
Labfiles/01-azure-search/modify-search/.env
Labfiles/01-azure-search/Python/margies-travel/.env
Labfiles/01-azure-search/Python/margies-travel/.env
Labfiles/10-vector-search/.env
